<div class="card">
    <div class="card-header">
        <div class="col-xs-8">
            <p>Goiânia, GO</p>
        </div>
        <div class="col-xs-4 text-xs-right">
            <h1>30&deg;</h1>
        </div>
    </div>
    <div class="card-block">
        <h1>5</h1>
        <p>Sunny</p>
    </div>
    <div class="card-footer">
        <div class="col-xs-5">
            <p>Wind</p>
            <p>35</p>
        </div>
        <div class="col-xs-5 offset-xs-2">
            <p>Humidity</p>
            <p>40</p>
        </div>
    </div>
</div>